<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Khan Academy</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<label for="Course">Course</label>
						<select name="Course" id="Course">
							<option value="#">#</option>
							<option value="#">#</option>
						</select>
					</li>
					<li>
						<form>
							<label for="search">Search</label>
							<input type="search" id="search"> <!-- i have to fivgure out hey the search inside it-->
						</form>
					</li>
					<li>
						<a href=""><h2>Khan Academy</h2></a>
						<img src="" alt="khanAcademy logo">
					</li>
					<li><h3><a href="">Donate</a></h3></li>
					<li> <h3><a href="">Login</a></h3></li>
					<li>
						<h3><a href=""> Sign up</a></h3>
					</li>
				</ul>
			</nav>
			<section>
				<img src="" alt="">
				<h1>For every Student, every classroom. Real results</h1>
				<p> We're a nonprofit with the mission to provide a free, world-class ecuation for anyone, anywhere</p>
				<nav>
					<h6><a href="">learners</a></h6>
					<h6><a href="">Teachers</a></h6>
					<h6><a href="">Districts</a></h6>
					<h6><a href="">Parents</a></h6>
				</nav>
			</section>
		</header>
		<footer>
			<h2> Why khan Academy works</h2>
		</footer>
	</body>
</html>